body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 200px;
  text-align: center;
  background-color: bisque;
  padding: 25px;
}

input[type="text"] {
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: greenyellow;
  color: black;
}

#comparisonResults {
  text-align: left;
}
