/* Body */
body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.container {
  background-color: #c3e1d4;
  padding: 20px;
  border-radius: 10px;
  width: 70%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

/* Heading */
h1 {
  font-size: 18px;
}

/* Labels */
label {
  display: block;
  font-size: 16px;
}

/* Inputs */
input[type="text"],
input[type="number"] {
  width: 50%;
  padding: 8px;
  border: 1px solid #95d5b2;
  border-radius: 5px;
  align-content: center;
  margin-left: 100px;
}

/* Buttons */
button {
  padding: 8px;
  background-color: #011a05;
  color: white;
  width: 50%;
  align-content: center;
  margin-left: 100px;
}

/* Result box */
#arrayResult {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #a3cef1;
  border-radius: 5px;
  max-height: 160px;
  overflow-y: auto;
}
#viewArrayResult {
  width: 50%;
  align-content: center;
  margin-left: 100px;
  color: rgb(4, 4, 4);
  border: 1px solid #a3cef1;
}
#createArrayResult {
  width: 50%;
  align-content: center;
  margin-left: 100px;
  color: rgb(4, 4, 4);
  border: 1px solid #a3cef1;
}
