body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.container {
  background: #dfd7d7;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
}

h1 {
  text-align: center;
  color: #0c2643;
  font-size: 22px;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
textarea,
select {
  width: 95%;
  padding: 7px;
  border-color: #888;
  border-radius: 5px;
  margin-top: 5px;
}

button {
  padding: 8px, 16px;
  background-color: rgb(248, 248, 248);
  color: #090909;
  cursor: pointer;
  border-color: #888;
  border-radius: 5px;
  margin-top: 20px;
}

.error {
  color: red;
  font-size: 12px;
}

.welcome-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d3d9cd;
  padding: 40px 60px;
  border-radius: 10px;
  margin-top: 200px;
}

.logout-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #e53935;
  color: #fff;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}
